@font-face{
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.eot');
    src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
html{
    font-size: 14px;
    font-family: Arial, sans-serif;
}
body{
    margin: 0;
}
.wrapper{
    max-width: 960px;
    margin: 0 auto;
}
.wrapper:after{
    content: "";
    display: block;
    clear: both;
}
.clr:after{
    content: "";
    display: block;
    clear: both;
}
.top-line{
    background-color: #1f1f56;
    width: 100%;
    margin: 0;
    padding: 23px 0 19px;
}
.top-line li{
    display: inline-block;
}
nav{
    float: left;
}
.social{
    float: right;
}
.social li{
    margin-left: 22px;
}
.social{
    margin: 0;
}
nav ul{
    margin: 0;
    padding: 0;
} 
.about a{
    letter-spacing: 2px;
    font-size: 14px;
    color: #b1b1d2;
    text-decoration: none;
}
.about,
.social{
    list-style: none;
    line-height: 24px;
    padding: 0;
}
.about li:hover a{
    color: #fd8300;
}
.about li{
    margin-right: 25px;
}
.social a{
    display: block;
    background: url(../img/spat.png) no-repeat left top;
}
.social .fb{
    width: 10px;
    height: 18px;
    transition: all 0.2s ease;
    background-position: 0 0;
}
.social .tw{
    width: 19px;
    height: 16px;
    transition: all 0.2s ease;
    background-position: 0 -17px;
}
.social .inst{
    width: 15px;
    height: 16px;
    transition: all 0.2s ease;
    background-position: -1px -33px;
}
.fb:hover{
    width: 10px;
    height: 18px;
    transition: all 0.2s ease;
    background-position: -10px 0;
}
.tw:hover{
    width: 19px;
    height: 16px;
    transition: all 0.2s ease;
    background-position: -18px -17px;
}
.inst:hover{
    width: 15px;
    height: 16px;
    transition: all 0.2s ease;
    background-position: -17px -33px;
}
.header-contact,
.header-contacts{
    padding: 35px 0;
}
.row{
    margin: 0 -14px;
    display: block;
}
.aside{
    float: right;
}
.coluwn{
    width: 219px;
    margin: 0 14px;
    float: left;
    vertical-align: top;
}
.coluwn a{
    text-decoration: none;
    color: #25252c;
}
.phones p,
.messengers p{
    padding-left: 30px;
    margin: 0;
}
.coluwn p{
    margin: 0;
}
.phones a{
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}
.phone a,
.messenger a,
.skype a{
    position: relative;
}
.line{
    position: relative;
}
.messengers a{
    font-size: 16px;
    line-height: 24px;
}
.messenger{
    text-decoration: underline;
}
.line:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 50px;
    background-color: #e4e4ec;
    left: -30px;
}
.cta-bin{
    text-align: right;
}
.cta-bin a{
    display: inline-block;
    font-size: 16px;
    border: 2px #fd8300 solid;
    font-weight: bold;
    border-radius: 25px;
    padding: 16px 28px;
    color: #25252c;
    text-decoration: none;
    transition: 1s ease all;
}
.cta-bin a:hover{
    background-color: #fd8300;
    font-size: 17px;
}
.phone a:before{
    content: "";
    position: absolute;
    width: 17px;
    height: 20px;
    left: -30px;
    background: url(../img/sprite.png) left top no-repeat;
    background-position: -2px -15px;
    transition: all 0.2s ease;
}
.phone:hover a:before{
    content: "";
    position: absolute;
    width: 17px;
    height: 20px;
    left: -30px;
    background: url(../img/sprite.png) left top no-repeat;
    background-position: -21px -15px;
    transition: all 0.2s ease;
}
.messenger a:before{
    content: "";
    position: absolute;
    width: 17px;
    height: 20px;
    left: -30px;
    background: url(../img/sprite.png) left top no-repeat;
    background-position: -2px 4px;
    transition: all 0.2s ease;
}
.messenger:hover a:before{
    content: "";
    position: absolute;
    width: 17px;
    height: 20px;
    left: -30px;
    background: url(../img/sprite.png) left top no-repeat;
    background-position: -21px 4px;
    transition: all 0.2s ease;
}
.skype a:before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: -30px;
    background: url(../img/sprite.png) left top no-repeat;
    background-position: -3px -35px;
    transition: all 0.2s ease;
}
.skype:hover a:before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: -30px;
    background: url(../img/sprite.png) left top no-repeat;
    background-position: -22px -35px;
    transition: all 0.2s ease;
}
.special-offer{
    max-height: 200px;
    margin-bottom: 38px;
    padding: 55px 0 40px;
    background-image: url(../img/Background.png);
    background-size: cover;
}
.special-proposition{
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Roboto Slab";
    font-weight: 700;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}
.special-description{
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    margin: 10px 0 14px;
}
.special-price{
    font-size: 24px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
.special-price span{
    font-size: 40px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
    text-align: center;
}
.special-price sup{
    font-size: 16px;
}
.column p{
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-family: "Roboto Slab";
    font-weight: 700;
    margin: 0;
    padding: 15px;
    padding-bottom: 10px;
    background-color: #1f1f56;
}
.aside{
    display: block;
    width: 219px;
    border-radius: 3px;
    overflow: hidden;
    float: right;
}
.aside-menu{
    position: relative;
    display: block;
    background-color: #e4e4ec;
    margin: 0;
    padding: 0;
    width: 219px;
}
.aside-menu li{
    border-bottom: 1px solid #cdcddd;
    position: relative;
}
.aside-menu li:last-child{
    border-bottom: none;
}
.aside-menu li a{
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #25252c;
    list-style: none;
    font-size: 14px;
    line-height: 24px;
    font-family: "Arial";
}
.aside-menu li:hover{
    background-color: #fd8300;
}
.aside-menu>li:hover>a{
    color: #fff;
}
.aside-menu>li:before{
    content: "";
    position: absolute;
    right: 15px;
    top: 18px;
    width: 6px;
    height: 10px;
    background: url(../img/sprites.png) left top no-repeat;
    background-position: -2px -2px;
}
.aside-menu-li:hover:before{
    content: "";
    position: absolute;
    right: 15px;
    top: 21px;
    width: 10px;
    height: 6px;
    background: url(../img/sprites.png) left top no-repeat;
    background-position: -10px -2px;
}
.sub-menu{
    display: none;
    list-style: none;
    padding: 0;
}
.aside-menu>li:hover .sub-menu{
    display: block;
    background-color: #e4e4ec;
}
.sub-menu li{
    position: relative;
}
.sub-menu li a{
    color: #666666;
}
.sub-menu li:hover{
    background-color: #cecedd;
}
.main{
    max-width: 714px;
}
main{
    float: left;
    margin-bottom: 48px;
    margin-top: 0;
}
.h1{
    font-size: 30px;
    line-height: 24px;
    color: #24242b;
    font-family: "Roboto Slab";
    font-weight: 700;
    margin: 4px 0 18px 0;
}
.content{
    border-bottom: 1px solid #e4e4ec;
    padding-bottom: 33px;
    margin-bottom: 31px;
}
.content p{
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
    margin: 3px 0;
}
.content .mar-bot{
    margin-bottom: 25px;
}
.content .mar-top{
    margin-top: 25px;
}
.content p:last-child a{
    text-decoration: underline;
    color: #fd8300;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
}
.content p:hover:last-child a{
    text-decoration: none;
}
.h2{
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-family: "Roboto Slab";
    font-weight: 700;
    margin-left: 14px;
}
figure{
    float: left;
}
.house{
    width: 219px;
    float: left;
    margin: 0 14px;
    vertical-align: top;
}
.h3{
    font-size: 14px;
    line-height: 24px;
    color: #1f1f56;
    font-family: "Arial";
    font-weight: bold;
    margin: 0;
}
.h3 sup,
figcaption sup{
    font-size: 9px;
}
figcaption p{
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    font-family: "Arial";
    margin: 0;
}
figcaption a{
    color: #1f1f56;
    text-decoration: none;
}
figcaption a:hover{
    text-decoration: underline;
}
.footer-menu{
    float: left;
    text-decoration: none;
    margin: 0 14px;
}
.footer-menu ul{
    margin: 0;
}
.footer-menu li{
    list-style: none;
    text-decoration: none;
}
.footer-menu a{
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    color: #666666;
    font-family: "Arial";
    margin: 0;
}
.colum{
    float: left;
    width: 219px;
    margin: 0 14px;
    vertical-align: top;
}
.colum ul{
    padding: 0;
}
.colum p{
    margin: 0;
}
.copy{
    text-align: center;
    padding: 15px 0;
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    background-color: #dcdce6;
}
.footer-colon{
    background-color: #ededf5;
    padding: 30px 0;
    width: 100%;
}
.footer-menu li:hover a{
    color: #fd8300;
    text-decoration: underline;
}
table{
    overflow: hidden;
    border-radius: 3px;
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    display: table;
}
thead{
    background-color: #1f1f56;
    color: white;
}
tbody{
    background-color: #e4e4ec;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
}
table th{
    text-align: left;
    padding-left: 19px;
    padding-top: 16px;
    padding-bottom: 12px;
}
table th:last-child{
    text-align: right;
    padding-right: 19px;
}
tbody th{
    border-bottom: 1px solid #cdcddd;
}
tbody tr:last-child th{
    border-bottom: none;
}
tbody tr:hover{
    background-color: #fd8300;
    color: white;
}
.header-contact{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 48px;
}